/* MOBILE VIEW */

@media (max-width:768px){

    #menuBtn{
        display:block;
    }

    nav{
        display:none;
        width:100%;
        margin-top:1rem;
    }

    nav.open{
        display:block;
    }

    header{
        flex-direction:column;
        align-items:flex-start;
    }

    nav ul{
        flex-direction:column;
        width:100%;
    }

    nav li{
        padding:.5rem 0;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .hero img{
        height:300px;
    }

    .hero-text{
        position:static;
        border-radius:0;
    }
}