@media screen and (min-width: 768px){

    .info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        max-width: 1200px;
        margin: 2rem auto;
    }

    .weather h2::after{
        content: " ⛅";
    }

    .weather-icon{
        display: none;
    }

}